* {
  border-radius: 5px;
  font-family: Arial;
}
body {
  background-color: #efefef;
}
.content {
  padding: 0 10%;
  margin:auto;
}
form {
  padding: 10px 20%;
}
form button {
  width: 60%;
  margin: 5px 22.5%;
  padding: 10px;
}
.form_text {
  text-align: center;
}
img {
  margin: 0px 35%;
  max-width: 30%;
}
input {
  width: 100%;
  padding:10px;
  margin:5px;
}
.menu {
  text-align: center;
}
.menu a {
  font-size: 30px;
  text-decoration: none;
  padding: 0px 20px;
}
.menu a:last-of-type {
}
#menu_button {
  width: 35px;
  border-radius: 0;
  display:none;
  margin: 10px auto;
}
.menu_dropdown {
  display: block;
}
.section {
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  margin:20px;
}
.section_text {
  text-align: center;
  font-size: 35px;
}
.section_title {
  font-size: 45px;
  text-align: center;
}

/*Begin media queries*/
@media only screen and (max-width: 650px) {
  .content {
    padding:0;
    margin:auto;
  }
  input {
    font-size: 20px;
  }
  form {
    padding: 10px;
  }
  .menu a {
    font-size: 20px;
    margin: 0 25%;
  }
  #menu_button {
    display: block;
  }
  #dropdown {
    display:none;
  }
  .section_text {
    font-size: 15px;
  }
  .section_title {
    font-size: 20px;
  }
}
