* {
  border-radius: 5px;
  font-family: Arial;
}
.about_description {
  text-align: center;
  border-bottom: 1px solid #FE0000;
  padding-bottom: 10px;
}
.about_description:last-of-type {
  border: none;
}
.about_label {
  text-align: center;
  text-decoration: underline;
  margin: 15px 0 5px;
  font-size:20px;
}
.banner {
  background-image: url("header.png");
  height: 120%;
  width: 102%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
}
.banner_image_text {
  position: absolute;
  top: 40%;
  right: 35%;
  text-align: center;
  font-size: 60px;
  color: white;
}
#banner_logo {
  width: 100%;
  margin: auto;
  max-width: 15%;
}
#banner_products {
  position: absolute;
  top: 200px;
  max-width: 50%;
}
body {
  background-color: #efefef;
}
.content {
  padding: 0 10%;
  margin:auto;
}
#default_logo {
  display: none;
}
#dropdown {
  width: 80%;
  margin: auto;
  background-color: #026FBC;
}
#dropdown a {
  color:white;
}
.footer {
  text-align: center;
}
form {
  padding: 10px 20%;
}
form button {
  width: 60%;
  margin: 5px 20%;
  padding: 10px;
  background-color: #026FBC;
  color:white;
}
.form_text {
  text-align: center;
}
img {
  max-width: 30%;
}
.img_description {
  margin-bottom: 5px;
  font-size:25px;
  text-decoration:none;
}
input {
  width: 100%;
  padding:10px;
  margin:5px;
}
.left-50 {
}
#logo {
  margin: 0px 35%;
}
.menu {
  text-align: center;
  position: absolute;
  top:2px;
  width: 80%;
  left: 10%;
}
.menu a {
  font-size: 30px;
  text-decoration: none;
  padding: 0px 20px;
}
.menu a:last-of-type {
}
#menu_button {
  width: 35px;
  border-radius: 0;
  display:none;
  margin: 10px auto;
}
.menu_dropdown {
  display: block;
}
#mobile_menu {
  display: none;
}
.right-50 {
}
.row {
  margin:15px;
  text-align: center;
  border-bottom: 1px solid #FE0000;
  margin-bottom: 25px;
}
.section {
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  margin:20px;
}
#section_banner_image {
  margin: 0px 25%;
  max-width: 50%;
}
.section img {
  margin:auto;
}
.section_text {
  text-align: center;
  font-size: 25px;
}
.section_title {
  font-size: 45px;
  text-align: center;
}
.social_media {
  margin:auto;
}
.social_media img {
  max-width: 35px;
}
.testimonial {
  margin:10px;
  text-align: center;
}

/*Begin media queries*/
@media only screen and (max-width: 650px) {
  .banner {
    display:none;
  }
  .content {
    padding:0;
    margin:auto;
  }
  #default_logo {
    max-width: 100%;
    display: block;
  }
  #dropdown {
    display:none;
  }
  .img_description {
    width:100%;
    float:none;
  }
  img {
    max-width: 100%;
  }
  input {
    font-size: 20px;
  }
  form {
    padding: 10px;
  }
  .left-50 {
    float: none;
  }
  #logo {
    margin: auto;
  }
  .menu {
    position: relative;
    left:auto;
    width: auto;
    top:auto;
  }
  .menu a {
    font-size: 20px;
    margin: 0 25%;
  }
  #menu_button {
    display: block;
  }
  #mobile_menu {
    display: block;
  }
  .product_image {
    margin: 10px 35%;
  }
  .right-50 {
    float: none;
  }
  .row {
    text-align: center;
  }
  #section_banner_image {
    max-width: 100%;
    margin: auto;
  }
  .section_text {
    font-size: 15px;
  }
  .section_title {
    font-size: 20px;
  }
}
